{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
    Akadēmijas laukums 1<br />
    Rīga, LV-1050<br />
    <abbr title="Telefons:"></abbr>
    +371 0101101010
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:info@mansdomens.lv">info@mansdomens.lv</a>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d481.4355228400157!2d24.121533433180804!3d56.943201265526774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46eece2afa9aaaab%3A0x4f5aa09b29bbe3e3!2z0JvQsNGC0LLQuNC50YHQutCw0Y8g0LDQutCw0LTQtdC80LjRjyDQvdCw0YPQuiAoTFpBKQ!5e0!3m2!1sru!2sde!4v1684580579943!5m2!1sru!2sde" width="50%" height="450px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

{% endblock %}